#app-content-whiteboard {
    position: fixed;
    top: 50px ;
    left:0 ;
    width: 100% ;
    height: calc(100vh - 50px) ;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    display: block;
}

tr[data-mime='application/whiteboard'] div.thumbnail,
.icon-whiteboard {
    background-image: url("../img/wbr.svg") !important ;
}

.icon-save {
    background-image: url("../img/save.svg");
    background-size: 16px;
}

/*Editor stuff*/
.literally {
    background-color: white !important;
    position: initial !important ;
}

.lc-options.horz-toolbar {
    background-color:  white !important;
    border-bottom: 1px solid silver !important;
    height: 36px !important;
}

.lc-picker {
    background-color:  white !important;
    border-right: 1px solid silver !important;
}

.square-toolbar-button {
    border: 0px solid silver ! important;
}