#app-content-whiteboard {
    position: absolute;
    top: 0 ;
    left:0 ;
    width: 100% ;
    height: 100% ;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    display: block;
}

.icon-whiteboard {
    background-image: url("../img/whiteboard.svg");
}

.icon-save {
    background-image: url("../img/save.svg");
    background-size: 16px;
}

/*button*/
#whiteboard-sharebtn {
    position: absolute;
    top:0 ;
    right: 60px ;
    width: 30px ;
    height: 30Px ;
    z-index: inherit;
}

#whiteboard-sharebtn:hover {
    border: 1px solid silver ;
    border-radius: 2px ;
}

#whiteboard-savebtn {
    position: absolute;
    top:0 ;
    right: 30px ;
    width: 30px ;
    height: 30Px ;
    z-index: inherit;
}

#whiteboard-savebtn:hover {
    border: 1px solid silver ;
    border-radius: 2px ;
}

#whiteboard-closebtn {
    position: absolute;
    top:0 ;
    right: 0 ;
    width: 30px ;
    height: 30Px ;
    z-index: inherit;
}

#whiteboard-closebtn:hover {
    border: 1px solid silver ;
    border-radius: 2px ;
}




/*Editor stuff*/
.literally {
    background-color: white !important;
    position: initial !important ;
}

.lc-options.horz-toolbar {
    background-color:  white !important;
    border-bottom: 1px solid silver !important;
}

.lc-picker {
    background-color:  white !important;
    border-right: 1px solid silver !important;
}

.square-toolbar-button {
    border: 0px solid silver ! important;
}